@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-black-alt {
  background: #191919;
}
.text-black-alt {
  color: #191919;
}
.border-black-alt {
  border-color: #191919;
}
@layer components {
  .navbar-button {
    @apply relative flex items-center justify-center h-12 w-12 mt-4 mx-auto;
  }
}
